$accent: #024cb6;
$pink: #bd3f80;
$darkBlue: #272647;
$defaultBlue: #26245e;

$defaultRadius: 20px;

$blueGradient: linear-gradient(360deg, rgba($defaultBlue, 0.4) 0%, rgba($darkBlue, 0.7) 84.78%);
$titleTextGradient: linear-gradient(266.72deg, #ffffff 18.98%, #0069ff 81.75%);
$converterGradient: linear-gradient(0deg, rgba(39, 38, 71, 0.25), rgba(39, 38, 71, 0.25)),
    linear-gradient(87.03deg, rgba(2, 76, 182, 0.5) 0.67%, #272647 49.08%, rgba(189, 63, 128, 0.5) 98.58%);
